@media screen and (max-width: 768px) {
    body {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    img {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    body {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;        
    }
}

body {
    display: flex;
    gap: 10px;
}
