.textColor > h1 {
    color: #ff0000;
}

.textColor > h2 {
    color: #0000ff;
}

.borderColor{
    border: 5px solid #00ff00;
}

.colorHsla > h3 {
    background-color:rgba(255,0,0, 0.5);
}
.colorHsla > h4 {
    background-color: hsla(0,100%,50%, 0.1);
}
.colorHsla > h5 {
    background-color: #ff0000;
    opacity: 0.5;
}

.backImg {
    background-image: url("../images/img_back.jpg");
    color: #ffffff;
    background-repeat: repeat-y;
}